
h2>total words are :</h2>
<h3>The Problem
When I started learning C/C++ in college, I found that there was a lack of simple tutorials with examples. There wasn’t any official documentation as well and it was really hard for students like me to find information that is simple to grasp.
In my free time, I started writing tutorials and sharing them on programiz after late 2011. What started as a hobby has now grown into a full-time job.

    1.5 million monthly users rely on Programiz to learn programming

Our main focus at programiz is simplicity. There are programmers all over the world of different levels of programming experience and having different English proficiency.
What we offer
Our goal at Programiz is to create tutorials that are simple to read, understand and emulate. We make sure every concept is explained with easy to understand examples.
We are a small team of passionate developers working to make programiz a reliable source of programming knowledge, focussing on battle-tested programming languages like C, C++, Python and R.
What we’re working on
The Programiz team is always working to make it better resource for our users. We constantly update our articles to improve their quality and correctness.
Recently, we have added widgets in our Python tutorials where you can compile and run python commands as you learn them.
Our team is also working to add Java tutorials to</h3>
