<h1>-------------------------</h1>
<h1>/       this is sub app                  \<h1>
<h1>/                          \</h1>
<h1>---------------------------</h1>
<a  href="{% url 'aboutus'%}">ABOUT US</a>
<form action="{% url 'count'%}">
  <textarea cols="40" rows="5" name="fulltext">
  </textarea>
  <br  />
  <input type="submit" value="count!" />
</form>
<h1>---------------------------</h1>
<h1>---------------------------</h1>
<h1>---------------------------</h1>
<h1>---------------------------</h1>
<h1>---------------------------</h1>
